ENVIRONMENT="development"

OPENAI_API_KEY="sk-proj-...MA"
#MODEL="gemini/gemini-2.0-flash"
MODEL="gpt-4o-mini"
LOG_LEVEL="INFO"
LITELLM_LOG="INFO"
GEMINI_API_KEY="AIz...bsKo"

# Only for development
LANGFUSE_SECRET_KEY="sk-lf-"
LANGFUSE_PUBLIC_KEY="pk-lf-"
LANGFUSE_HOST="https://cloud.langfuse.com"
