APP_NAME="secure-path"
APP_DOMAIN="secure-path.devstarkcode.com"
APP_PORT=3008

DB_NAME="secure-path"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_PORT="5473"
POSTGRES_DATA_PATH="../postgres_data"

REDIS_PORT="6377"
REDIS_DATA_PATH="../redis_data"

LANGFUSE_DATABASE_URL="postgresql://postgres:postgres@db:5432/langfuse"
LANGFUSE_PORT="2999"
LANGFUSE_NEXTUAUTH_SECRET="ce8eb929a170f34f992e01064aed1cf4"
# at least 32 characters
LANGFUSE_SALT="ma827g01Qxlka45W1ydI5NyscGcAsSnK"

# "openssl rand -hex 32"
LANGFUSE_ENCRYPTION_KEY="352b298e49c441872c078e34007012df2408f9afe5bccbfa3769a14c4be33007"
LANGFUSE_NEXTAUTH_URL="http://localhost:2999"


# MinIO API and Console Access
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# MinIO Authentication
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=strong-password-here

# Storage Paths
MINIO_DATA_PATH=../minio_data

# Bucket Configuration
MINIO_DEFAULT_BUCKET=default-bucket

INPUT_PARSER_PORT=3001
